# NON-SENSITIVE ENVS (can be committed to git)
NEXT_PUBLIC_INCLUDE_MAINNETS="true/false"
NEXT_PUBLIC_INCLUDE_TESTNETS="true/false"
NEXT_PUBLIC_INCLUDE_LOCALNETS="true/false"

NEXT_PUBLIC_DEFAULT_CHAIN_ID="<CHAIN_ID>"

NEXT_PUBLIC_USE_ERUDA_DEV_TOOLS="true/false"

NEXT_USE_STRICT_MODE="true/false"   
NEXT_PUBLIC_SKIP_KYC_PAYMENT="true/false"
NEXT_PUBLIC_IS_TECHNICAL_WORK="true/false"

# SENSITIVE ENVS (CAN"T BE COMMITTED TO GIT)
NEXT_PUBLIC_PINATA_JWT="<Pinata JWT>"
NEXT_PUBLIC_PRIVY_APP_ID="<Privy app id>"
PRIVY_VERIFICATION_KEY="<Privy verification key>"

NEXT_PUBLIC_CIVIC_GATEKEEPER_NETWORK="<Civic gatekeeper network>"
CIVIC_CLIENT_ID="<Civic client id>"
CIVIC_CLIENT_SECRET="<Civic client secret>" 
NEXT_PUBLIC_USER_EMAIL="<Public user email>"
NEXT_PUBLIC_USER_PASSWORD="<Public user password>"
PLATFORM_USER_EMAIL="<Platform user email>"
PLATFORM_USER_PASSWORD="<Platform user password>" 

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="<Google map API key>" 
GOOGLE_MAPS_API_KEY="<Google map api key>" 
PROVIDER_API_URL_1337="http://127.0.0.1:7545"
PROVIDER_API_URL_5611="<Provider API URL for CHAIN_ID 5611>"
PROVIDER_API_URL_8453="<Provider API URL for CHAIN_ID 8453>"
PROVIDER_API_URL_84532="<Provider API URL for CHAIN_ID 84532>"
PROVIDER_API_URL_11155111="<Provider API URL for CHAIN_ID 11155111>"
PROVIDER_API_URL_11155420="<Provider API URL for CHAIN_ID 11155420>" 

SIGNER_PRIVATE_KEY="<Wallet private key for signing structs>"
MANAGER_PRIVATE_KEY="<Wallet private key (for KYC pass)>"
ADMIN_VIEWER_PRIVATE_KEY="<Wallet private key (for admin viewer)>"
TEST_WALLETS_ADDRESSES="<comma seperated wallet addresses>"

#Firebase (Analytics and firestore)
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""

FB_SERVICE_ACCOUNT=""

#Coinbase SDK
NEXT_PUBLIC_COINBASE_API_KEY="<Coinbase API>"
NEXT_PUBLIC_COINBASE_SCHEMA_ID="<Coinbase schema id>"

#CAR API
CARAPI_TOKEN="<Car API token>"
CARAPI_SECRET="<Car API secret>"

#HOTJAR
NEXT_PUBLIC_HOTJAR_SITE_ID="<Hotjar site id>"
NEXT_PUBLIC_HOTJAR_VERSION="<Hotjar version>"

#Meta Pixel Code 
NEXT_PUBLIC_FB_PIXEL_ID="<FB pixel ID>"

#DIMO
NEXT_PUBLIC_SERVER_DIMO_CLIENT_ID="<Dimo client id>"
NEXT_PUBLIC_SERVER_DIMO_API_KEY="<Dimo API key>"
NEXT_PUBLIC_SERVER_DIMO_DOMAIN="<URL >"

#Ai damage analyze
API_AI_DAMAGE_ANALYZE_SECRET="<Ai damage analyze secret>"
NEXT_PUBLIC_AI_DAMAGE_ANALYZE_BASE_URL="<Ai damage analyze>"
NEXT_PUBLIC_AI_DAMAGE_ANALYZE_ACCOUNT_SID="<Ai damage analyze account SID>"
NEXT_PUBLIC_AI_DAMAGE_ANALYZE_ACCOUNT_SECRETKEY="<Ai damage analyze account secret key>"

#TWILIO
TWILIO_ACCOUNT_SID="<Twilio account SID>"
TWILIO_AUTH_TOKEN="<Twilio auth token>"
VERIFICATION_HMAC_SHA256_SECRET_KEY="<sha256 secret key>"

#NOTIFICATIONS
NOTIFICATION_SMTP_USER="<SMTP user>"
NOTIFICATION_SMTP_PASSWORD="<SMTP password>"

#Indexer
INDEXER_URL_84532="<indexer API url for chain 84532>"
INDEXER_URL_8453="<indexer API url for chain 8453>"
INDEXER_URL_5611="<indexer API url for chain 5611>"
INDEXER_URL_204="<indexer API url for chain 204>"
  
API_AUTH_TOKEN="<Rentality API token>"
BASE_URL="<Base URL (ex demo.rentality.io)>"

NEXT_PUBLIC_AKAVE_ENDPOINT = "https://o3-rc3.akave.xyz";
NEXT_PUBLIC_AKAVE_REGION = "akave-network";
NEXT_PUBLIC_AKAVE_BUCKET = "<akave bucket name>";
NEXT_PUBLIC_AKAVE_ACCESS_KEY_ID = "<AKAVE_ACCESS_KEY_ID>";
NEXT_PUBLIC_AKAVE_SECRET_ACCESS_KEY = "<AKAVE_SECRET_ACCESS_KEY>"

NEXT_PUBLIC_FILESTORE_NAME = "akave/pinata"
