@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-inverse: theme(colors.gray.50);
    --text-foreground: theme(colors.gray.950);
    --text-foreground-muted: theme(colors.gray.600);
    --text-error: theme(colors.rose.600);
    --text-primary: theme(colors.indigo.600);
    --text-success: theme(colors.lime.600);
    --text-warning: theme(colors.orange.600);
    --text-disabled: theme(colors.gray.400);

    --bg-default: theme(colors.gray.50);
    --bg-default-hover: theme(colors.gray.200);
    --bg-default-active: theme(colors.gray.300);
    --bg-alternate: theme(colors.gray.200);
    --bg-alternate-hover: theme(colors.gray.300);
    --bg-alternate-active: theme(colors.gray.400);
    --bg-inverse: theme(colors.gray.100);
    --bg-inverse-hover: theme(colors.gray.200);
    --bg-inverse-active: theme(colors.gray.300);
    --bg-primary: theme(colors.indigo.600);
    --bg-primary-hover: theme(colors.indigo.700);
    --bg-primary-active: theme(colors.indigo.800);
    --bg-secondary: theme(colors.slate.200);
    --bg-secondary-hover: theme(colors.slate.300);
    --bg-secondary-active: theme(colors.slate.400);
    --bg-error: theme(colors.rose.600);
    --bg-warning: theme(colors.orange.600);
    --bg-success: theme(colors.lime.300);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body */

body {
  min-width: 320px;
  font-family: "Montserrat", Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  /*background-image: url("../images/bg.png");*/
  /*background-position: top;*/
  /*background-repeat: repeat;*/
  /*background-size: cover;*/
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/*html,*/
/*body {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

.main-grid {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}

.main-grid > header {
  @apply text-rnt-temp-header-text;
  grid-area: header;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.main-grid > aside {
  @apply bg-rentality-bg-left-sidebar text-rnt-temp-sidemenu-text;
  grid-area: aside;
  width: 100%;
  height: auto;
}

.main-grid > main {
  @apply bg-rentality-bg-main text-rnt-temp-main-text;
  grid-area: main;
  height: 100%;
  width: 100%;
}

.main-grid > footer {
  @apply text-rnt-temp-footer-text;
  grid-area: footer;
  width: 100%;
  /*height: auto;*/
  display: flex;
  flex-direction: column;
}

body {
  /*background-image: url("../images/bg.png");*/
  /* background: repeating-linear-gradient(-45deg, #0B0B0D, #38296B 20%, #0B0B0D 31%),
    repeating-linear-gradient(45deg, #0B0B0D, #38296B 50%, #0B0B0D);
    background-size: 300% 300%; */
}

/*.main-grid>header {*/
/*  @apply bg-opacity-60;*/
/*}*/

/*.main-grid>aside {*/
/*  @apply bg-opacity-60;*/
/*}*/

/*.main-grid>main {*/
/*  @apply bg-opacity-60;*/
/*}*/

/*.main-grid>footer {*/
/*  @apply bg-opacity-30;*/
/*}*/

@media (min-width: 1024px) {
  .main-grid {
    display: grid;
    grid: min-content 1fr min-content / min-content 1fr;
    grid-template-areas:
      "aside header"
      "aside main"
      "footer footer";
  }

  /* .main-grid>aside {
    display: flex;
    flex-direction: column;
  } */
}

/* header */

/* aside */

/* main */

.main-grid .rnt-card {
  @apply bg-rnt-temp-card-bg text-rnt-temp-card-text;
}

.main-grid .rnt-card-selected {
  @apply bg-rentality-primary text-rnt-temp-card-text;
}

.sliding-panel-container {
  @apply bg-rnt-temp-slide-panel-container-bg;
  @apply bg-opacity-50;
}

.sliding-panel {
  @apply bg-rnt-temp-slide-panel-bg;
  @apply bg-opacity-90;
}

main input[type="text"],
main input[type="datetime-local"],
main textarea,
main select {
  @apply bg-rnt-temp-textbox-bg;
}

main option {
  /* @apply bg-rnt-temp-sidemenu-bg; */
}

@media (min-width: 1024px) {
}

/* footer */

/* controls */

/* checkbox */
/* Customize the label (the container) */
.rentality-checkbox {
  display: block;
  position: relative;
  padding-left: 3.25rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.rentality-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.rentality-checkmark {
  position: absolute;
  top: -0.5rem;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.rentality-checkbox:hover input ~ .rentality-checkmark {
  background-color: #bbb;
}

/* When the checkbox is checked, add a blue background */
.rentality-checkbox input:checked ~ .rentality-checkmark {
  background-color: #6c29d9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rentality-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rentality-checkbox input:checked ~ .rentality-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.rentality-checkbox .rentality-checkmark:after {
  left: 14px;
  top: 6px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Civic */
.civicButton {
  /*background-color: #6D28D9 !important;*/
  background: linear-gradient(
    360deg,
    rgba(88, 63, 188, 1) 0%,
    rgba(128, 95, 228, 1) 50%,
    rgba(127, 160, 243, 1) 100%
  ) !important;
  border-radius: 9999px !important;
  border: none !important;
  height: 48px !important;
  min-width: 220px !important;
}

.civicButton span {
  color: white !important;
  font-size: large !important;
}

.civicButton svg {
  left: 33px !important;
  top: 12px !important;
}

.buttonGradient:enabled {
  background: linear-gradient(360deg, rgba(88, 63, 188, 1) 0%, rgba(128, 95, 228, 1) 50%, rgba(127, 160, 243, 1) 100%);
}

.rntCarMarker {
  background: linear-gradient(360deg, rgba(88, 63, 188, 1) 0%, rgba(128, 95, 228, 1) 50%, rgba(127, 160, 243, 1) 100%);
}

.backgroundMain {
  background: linear-gradient(150deg, rgba(36, 15, 80, 1) 50%, rgba(102, 0, 204, 1) 80%, rgba(102, 51, 203, 1) 100%);
}

select:disabled {
  background-color: #d1d5db;
  opacity: 1;
  color: #4b5563;
}

input:disabled {
  background-color: #d1d5db;
  opacity: 1;
  color: #4b5563;
}

.react-tel-input {
  font-family: "Montserrat", Arial, sans-serif !important;
}

.flag-dropdown {
  border-radius: 9999px 0 0 9999px !important;
}

.selected-flag {
  border-radius: 9999px 0 0 9999px !important;
}

#privy-dialog > div > div {
  background-color: #1e1e30;
  border-width: 2px;
  border-color: #373737;
}

.border-gradient {
  /*padding: 10px;*/
  /*display: inline-block;*/
  position: relative;
  /*z-index: 0;*/
}

.border-gradient:before {
  content: "";
  position: absolute;
  /*z-index: -1;*/
  inset: 0;
  padding: 2px;
  border-radius: 9999px;
  background: linear-gradient(to right, #74bbef 0%, #7257ce 70%, #5e3dd3 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#pagination > ul > li {
  margin-left: 12px;
}

@media (min-width: 450px) {
  #eruda {
    display: none !important;
  }
}
