@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body */

body {
  min-width: 320px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background-image: url("../images/bg.png");
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

html,
body {
  height: 100%;
  width: 100%;
}

.main-grid {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-template-areas: "header"
    "aside"
    "main"
    "footer";
}

.main-grid>header {
  @apply bg-rnt-temp-header-bg bg-opacity-60 text-rnt-temp-header-text;
  grid-area: header;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.main-grid>aside {
  @apply bg-rnt-temp-sidemenu-bg bg-opacity-60 text-rnt-temp-sidemenu-text;
  grid-area: aside;
  width: 100%;
  height: auto;
}

.main-grid>main {
  @apply bg-rnt-temp-main-bg bg-opacity-60 text-rnt-temp-main-text;
  grid-area: main;
  height: 100%;
  width: 100%;
  /* display: none; */
}

.main-grid>footer {
  @apply bg-rnt-temp-footer-bg bg-opacity-30 text-rnt-temp-footer-text;
  grid-area: footer;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main-grid .rnt-card {
  @apply bg-rnt-temp-card-bg text-rnt-temp-card-text;
}

main img {
  @apply bg-rnt-temp-image-bg;
}

.sliding-panel-container {
  @apply bg-rnt-temp-slide-panel-container-bg bg-opacity-50;
}

.sliding-panel {
  @apply bg-rnt-temp-slide-panel-bg bg-opacity-90;
}

@media (min-width: 1024px) {
  .main-grid {
    display: grid;
    grid: min-content 1fr min-content / min-content 1fr;
    grid-template-areas: "aside header"
      "aside main"
      "footer footer";
  }

  /* .main-grid>aside {
    display: flex;
    flex-direction: column;
  } */
}

/* header */

.burger-icon {
  display: inline-block;
  cursor: pointer;
  align-self: center;
}

.burger-icon-bar1,
.burger-icon-bar2,
.burger-icon-bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .burger-icon-bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .burger-icon-bar2 {
  opacity: 0;
}

.change .burger-icon-bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media (min-width: 1024px) {
  .burger-icon {
    display: none;
  }
}

/* aside */

/* main */

@media (min-width: 1024px) {}

/*"w-full lg:w-60 h-12 border-2 rounded-md border-gray-400"*/

/* footer */

/* controls */
/* checkbox */
/* Customize the label (the container) */
.rentality-checkbox {
  display: block;
  position: relative;
  padding-left: 3.25rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.rentality-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.rentality-checkmark {
  position: absolute;
  top: -0.5rem;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.rentality-checkbox:hover input~.rentality-checkmark {
  background-color: #bbb;
}

/* When the checkbox is checked, add a blue background */
.rentality-checkbox input:checked~.rentality-checkmark {
  background-color: #6c29d9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rentality-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rentality-checkbox input:checked~.rentality-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.rentality-checkbox .rentality-checkmark:after {
  left: 14px;
  top: 6px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 